/***      font        ***/
@font-face {
	font-family: "TalkingToTheMoon" ;
	src: url("../font/TalkingToTheMoon.ttf") format("truetype") ;
}

body {
	background-image: url("../back_img/megane.png") ;
	background-position: center ;
	background-repeat: no-repeat ;
	font-family: TalkingToTheMoon ;
}

/***    background    ***/

.background {
	height: 586px ;
}


/***       home      ***/
.top {
	width: 960px ;
	margin: 0 auto ;
}


/***      title     ***/
.name h1 {
	font-size: 130px ;
	margin-top: 5% ;
}


/***      nav       ***/
ul {
	list-style: none ;
	position: absolute ;
	right: 50px;
	bottom: 50px;
}

li {
	float: left ;
	margin-right: 15px ;
	margin-left: 15px ;
}


a {
	color: #fff ;
	display: block ;
	text-decoration: none ;
	text-align: center ;
	width: 100px ;
	height: 100px ;
	font-size: 33px ;
	position: relative ;
	line-height: 100px ;

}

a::after {
	content: "" ;
	display: block ;
	background-color: #730000;
	width: 100px ;
	height: 100px ;
	border-radius: 50% ;
	position: absolute ;
	top: 0 ;
	z-index: -1 ;
	transition: transform 0.2s ease-out 0, box-shadow 0.3s ease-in 0 ;
}

a:hover::after {
	transform: scale(0.9) ;
	box-shadow: 0 0 0 20px #fedede, 0 0 0 30px #730000 ;
}



/***    clearfix    ***/
.clearfix:after{
	content: "" ;
	clear: both ;
	display: block ;
}